NODE_ENV=development
PORT=8000

INITIAL_WALLET_BALANCE=10000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRY=1h

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=demo_credit
DB_USER=root
DB_PASSWORD=password

PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""
PAYSTACK_BASE_URL=""
PAYSTACK_SUCCESS_URL=""

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

LENDSQR_BASE_URL=""
LENDSQR_APP_ID=""
LENDSQR_SECRET_KEY=""